In [9]:
import pandas as pd

dictionary= {"NAME":["ali","veli","kenan","hilal","ayse","evren"],
             "AGE":[15,16,17,33,45,66],
             "WAGE":[100,150,240,350,110,220]}

dataFrame1= pd.DataFrame(dictionary)

In [10]:
dataFrame1["newFeature"]= [-1, -2, -3, -4, -5, -6]

mean_WAGE = dataFrame1.WAGE.mean()
dataFrame1["Wage_Level"] = ["low" if mean_WAGE > each else "high" for each in dataFrame1.WAGE]

print(dataFrame1.loc[:], "\n")

    NAME  AGE  WAGE  newFeature Wage_Level
0    ali   15   100          -1        low
1   veli   16   150          -2        low
2  kenan   17   240          -3       high
3  hilal   33   350          -4       high
4   ayse   45   110          -5        low
5  evren   66   220          -6       high

In [11]:
dataFrame1.drop(["newFeature"], axis= 1, inplace= True)

print(dataFrame1.loc[:], "\n")

    NAME  AGE  WAGE Wage_Level
0    ali   15   100        low
1   veli   16   150        low
2  kenan   17   240       high
3  hilal   33   350       high
4   ayse   45   110        low
5  evren   66   220       high

In [12]:
# vertical
data1 = dataFrame1.head(2)
data2 = dataFrame1.tail(2)
data_v_concat = pd.concat([data1, data2], axis= 0)

print(data_v_concat.loc[:], "\n")

    NAME  AGE  WAGE Wage_Level
0    ali   15   100        low
1   veli   16   150        low
4   ayse   45   110        low
5  evren   66   220       high

In [13]:
# horizontal
wage = dataFrame1.WAGE
age = dataFrame1.AGE
data_h_concat = pd.concat([wage, age], axis= 1)

print(data_h_concat.loc[:], "\n")

   WAGE  AGE
0   100   15
1   150   16
2   240   17
3   350   33
4   110   45
5   220   66

In [15]:
def multiply(age):
    return age*2
dataFrame1["apply_method"] = dataFrame1.AGE.apply(multiply)

print(dataFrame1.loc[:], "\n")

    NAME  AGE  WAGE Wage_Level  apply_method
0    ali   15   100        low            30
1   veli   16   150        low            32
2  kenan   17   240       high            34
3  hilal   33   350       high            66
4   ayse   45   110        low            90
5  evren   66   220       high           132